body {
    font-family: 'Bebas Neue', cursive;
    background-color: rgb(46, 168, 95);
}

.cabecalho {
    padding: 100px;
    text-align:justify;
    background-color: rgb(200, 255, 221);
    
    
}

.cabecalho2 {
    padding: 300px;
    text-align:justify;
    background-color: rgb(63, 73, 82);
}

.cabecalho h1 {
    font-size: 50px;
}

.imagesHilary {
    background-color: rgb(0, 0, 0);
    width: 300%;
    padding: 100px;
}

.card {
    background-color: rgb(17, 114, 82);
    padding: 20px;
    margin-bottom: 20px;
}

.cabecalho img {
    width: 100px;
}

.alinhamento {
    display: block;;
    width: 500px;
}

.alinhamentoo {
    display:block;
    text-align:justify;
    width: 500px;
   
}

.footer{
    background-color: green;
    border-bottom: 50px;
    text-align: center;
}
