@import url('https://fonts.googleapis.com/css2?family=Climate+Crisis&family=PT+Sans&display=swap');

body {
    font-family: 'Climate Crisis', cursive;
    font-family: 'PT Sans', sans-serif;
    color: white;
    background-color: #181F66;
}

.titulo {
    padding: 40 px;
    text-align: center;
}

.imagem-tela-cheia {
    width: 70%;
    height: 70%;
    object-fit: cover;
    padding: 10px;
    text-align: center;
}

. {

}