body {
    font-family: 'Bebas Neue', cursive;
    background-color: rgb(46, 168, 95);
}

.cabecalho {
<<<<<<< Updated upstream
    text-align: center;
    background-color: #f2f2f2;
    /*position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;*/
}

.logo {
    width: 10%;
}

.container {
    display: flex;
    justify-content: center;
}

.topnav {
    background-color: #f2f2f2;
    /* cor de fundo */
    overflow: hidden;
    /* esconder o overflow */
    display: flex;
    justify-content: center;
}

.topnav a {
    float: left;
    /* alinhar à esquerda */
    display: block;
    /* exibir como bloco */
    color: black;
    /* cor do texto */
    text-align: center;
    /* alinhar o texto ao centro */
    padding: 10px 50px;
    /* espaçamento interno */
    text-decoration: none;
    /* remover decoração de link */
}

.topnav a:hover {
    background-color: #ddd; /* cor de fundo ao passar o mouse */
=======
    padding: 100px;
    text-align:justify;
    background-color: rgb(200, 255, 221);
    
    
}

.cabecalho2 {
    padding: 300px;
    text-align:justify;
    background-color: rgb(63, 73, 82);
>>>>>>> Stashed changes
}

.cabecalho h1 {
    font-size: 50px;
}

.imagesHilary {
    background-color: rgb(0, 0, 0);
<<<<<<< Updated upstream
    width: 100%;
    padding: 20px;
    text-align: center;
=======
    width: 300%;
    padding: 100px;
>>>>>>> Stashed changes
}

.card {
    background-color: rgb(17, 114, 82);
    padding: 20px;
    margin-bottom: 20px;
}

.cabecalho img {
    width: 100px;
}

.alinhamento {
    display: block;;
    width: 500px;
}

<<<<<<< Updated upstream
.rodape{
    background-color: #f2f2f2;
    text-align: center;
}

.instagram{
    width: 1.5%;
}

.frase{
    text-align: center;
}

.textolink{
    color: black;
}

p {
    line-height: 1.5;
   
  }

  .article{
    border-radius: 50pt;
    background: rgba(180, 252, 213, 0.685) ;
    
    
  }
 
=======
.alinhamentoo {
    display:block;
    text-align:justify;
    width: 500px;
   
}

.footer{
    background-color: green;
    border-bottom: 100px;
    text-align: center;
}
>>>>>>> Stashed changes
