body {
    font-family: 'Bebas Neue', cursive;
    background-color: rgb(80, 117, 92);
}

.cabecalho {
    text-align: center;
    background-color: #f2f2f2;
    /*position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;*/
}

.logo {
    width: 10%;
}

.container {
    display: flex;
    justify-content: center;
}

.topnav {
    background-color: #f2f2f2;
    /* cor de fundo */
    overflow: hidden;
    /* esconder o overflow */
    display: flex;
    justify-content: center;
}

.topnav a {
    float: left;
    /* alinhar à esquerda */
    display: block;
    /* exibir como bloco */
    color: black;
    /* cor do texto */
    text-align: center;
    /* alinhar o texto ao centro */
    padding: 10px 50px;
    /* espaçamento interno */
    text-decoration: none;
    /* remover decoração de link */
}

.topnav a:hover {
    background-color: #ddd; /* cor de fundo ao passar o mouse */
}

.cabecalho h1 {
    font-size: 50px;
}

.imagens {
    background-color: rgb(0, 0, 0);
    width: 100%;
    padding: 20px;
}

.card {
    background-color: rgb(15, 92, 66);
    padding: 20px;
    margin-bottom: 20px;
}

.cabecalho img {
    width: 200px;
}

.alinhamento {
    display: inline-block;
    width: 500px;
}

.rodape{
    background-color: #f2f2f2;
    text-align: center;
}

.instagram{
    width: 1.5%;
}

.frase{
    text-align: center;
}

.textolink{
    color: black;
}