body {
    font-family: 'Bebas Neue', cursive;
    background-color: rgb(120, 162, 134);
    margin: 0%;
}

header {
    text-align: center;
    background-color: #f2f2f2;

    .logo {
        width: 10%;
    }

    .topnav {
        background-color: #f2f2f2;
        overflow: hidden;
        display: flex;
        justify-content: center;
        width: 100%;
        text-align: center;
    }
    .topnav a {
        color: black;
        padding: 10px 50px;
        text-decoration: none;
    }
}

main{
    .images {
        width: 400px;
        padding: 0.5%;
    }
}

.rodape {
    background-color: #f2f2f2;
    text-align: center;
}

.instagram {
    width: 1.5%;
}

.textolink {
    color: black;
}

main {
    margin: 50px;
    color: white;
}

.cabecalho {
    color: black;
}

.elementos {
    display: flex;
    justify-content: space-between;
}

.item1 {
    width: 74%;
}

.item2 {
    width: 24%;
}

.botao {
    text-align: center;
}

.btn_btn-primary {
    width: 10%;
}