body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0%;
    background: #ccc;
}

header {
    text-align: center;
    background: #333;
    color: white;
}

.logo {
    width: 50%;
}

.topnav {
    background: white;
    overflow: hidden;
    display: flex;
    justify-content: center;
    width: 100%;
    text-align: center;
}

.topnav .botaoM:hover {
    background-color: #b4b4b4;
    /* Altere a cor de fundo desejada */
    transform: scale(1.05);
    /* Aumenta o tamanho do botão ao passar o mouse */
}

/* Efeito de clique (ativo) */
.topnav .botaoM:active {
    background-color: #999999;
    /* Altere a cor de fundo desejada quando clicado */
}

.topnav a {
    color: black;
    padding: 1% 2%;
    text-decoration: none;
}

.images {
    width: 32%;
    padding: 1%;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-box {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 20px;
    margin: 20px;
    text-align: center;
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

h3 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    color: black;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    text-align: left;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    margin: 3%;
}

.outro {
    text-decoration: none;
    color: black;
}

button:hover {
    background-color: #555;
}

footer {
    background: #333;
    text-align: center;
    padding: 1%;
    text-decoration: none;
}

.logoInsta {
    width: 4%;
}

.linkI {
    color: white;
    text-decoration: none;
}

.linkI:hover {
    background-color: #b4b4b4;
    /* Altere a cor de fundo desejada */
    transform: scale(1.05);
    /* Aumenta o tamanho do botão ao passar o mouse */
}

/* Efeito de clique (ativo) */
.linkI:active {
    background-color: #999999;
    /* Altere a cor de fundo desejada quando clicado */
}

.copy {
    margin-top: 1%;
    color: white;
}