body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0%;
    background-color: #ccc;
}

html {
    min-height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
    text-align: center;
    background: #333;
    color: white;

    .logo {
        width: 50%;
    }

    .topnav {
        background: white;
        overflow: hidden;
        display: flex;
        justify-content: center;
        width: 100%;
        text-align: center;
    }

    .topnav .botaoM:hover {
        background-color: #b4b4b4; /* Altere a cor de fundo desejada */
        transform: scale(1.05); /* Aumenta o tamanho do botão ao passar o mouse */
    }
    
    /* Efeito de clique (ativo) */
    .topnav .botaoM:active {
        background-color: #999999; /* Altere a cor de fundo desejada quando clicado */
    }

    .topnav a {
        color: black;
        padding: 1% 2%;
        text-decoration: none;
    }
}

main {
    margin: 3%;
    color: black;

    .subtitulo {
        text-align: center;
    }

    .elementos {
        display: flex;
        justify-content: space-between;

        .item1 {
            width: 74%;
        }

        .item2 {
            width: 24%;
        }
    }

    .anonimo {
        text-align: center;

        .input1 {
            margin-left: 2%;
            border-radius: 10px;
            border: none;
        }

        .input2 {
            margin-left: 3%;
            border-radius: 10px;
            border: none;
        }
    }

    .form-check {
        display: flex;

        .form-check-label {
            margin-left: 1%;
        }

        .botao {
            text-align: center;
            margin-left: 59.8%;
            cursor: pointer;

            .enviar {
                border-radius: 10px;
                background: white;
                border-color: rgba(255, 255, 255, 0);
                padding: 9%;
            }
        }

        .botao:hover {
            background-color: #c43e3e;
        }

        .enviar {
            border-radius: 10px;
        }
    }

    .images {
        width: 32%;
        padding: 1%;
    }

    .msg {
        text-align: center;
        color: white;
        width: 30%;
        margin: 1% auto 0;
        border-radius: 10px;

        .mensagemErro {
            padding: 1%;
        }
    }

    .mensagemErro {
        color: white;
        padding: 1%;
    }

    .cadastro {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;

        .div {
            padding: 0.1%;
            width: 100%;

            .itens {
                width: 80%;
                border-radius: 10px;
                border: none;
                padding: 1%;
            }
        }
    }

    .avaliacao {
        margin-top: 5%;
        text-align: center;

        .classificacao {
            padding: 0.4%;
            border-radius: 10px;
            border: none;
            width: 20%;
        }

        .classificacao2 {
            padding: 0.4%;
            border-radius: 10px;
            border: none;
            width: 23%;
        }

        .classificacao3 {
            padding: 0.4%;
            border-radius: 10px;
            border: none;
            width: 19.1%;
        }

        .div2 {
            padding: 1%;
        }
    }
    .botao {
        text-align: center;
        

        .enviar {
            border: none;
            border-radius: 10px;
            padding: 0.6%;
        }
    }
}

footer {
    background: #333;
    text-align: center;
    padding: 1%;
    text-decoration: none;

    .logoInsta {
        width: 4%;
    }

    .linkI {
        color: white;
        text-decoration: none;
    }

    .linkI:hover {
        background-color: #b4b4b4;
        /* Altere a cor de fundo desejada */
        transform: scale(1.05);
        /* Aumenta o tamanho do botão ao passar o mouse */
    }

    /* Efeito de clique (ativo) */
    .linkI:active {
        background-color: #999999;
        /* Altere a cor de fundo desejada quando clicado */
    }

    .copy {
        margin-top: 1%;
        color: white;
    }
}