@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body{
    font-family: 'Bebas Neue', cursive;
    background-color: rgb(80, 117, 92);
    padding: 10px;
}

.cabecalho{
    padding: 30px;
    text-align: center;
    background-color: aliceblue;
}

.cabecalho h1{
    font-size: 50pt;
}

.topnav{
    overflow: hidden;
    background-color: rgb(48, 83, 56);
}

.topnav a{
    display: inline-block;
    color:rgba(255, 255, 255, 0.63);
   

}

.topnav a:hover {
    background-color: blue;
    color: blueviolet;
   border-bottom: darkslategrey;
   border-end-start-radius: 15PX;
}

.imagens{
    background-color: rgb(0, 0, 0);
    width: 100%;
    padding: 20px;
}

.card{
    background-color: rgb(15, 92, 66);
    padding: 20px;
    margin-bottom: 20px;
}

.cabecalho img{
    width: 200px;
}

.alinhamento{
 display: inline-block;
 width: 500px;
}