img {
    max-width: 600px;
    max-height: 300px;
    text-align: center;
  }

  main {
    text-align:center; /* Adicione esta linha para centralizar o texto */
    padding: 20px;
    background-color: #0000006c;
    margin: 40px;
    border-radius: 0px;
    box-shadow: 0 0 10px rgb(90, 88, 88);
    font-family:'Times New Roman', Times, serif;
    color: aliceblue;
}

footer {
  background: #333;
  text-align: center;
  padding: 1%;
  text-decoration: none;

  .logoInsta {
      width: 4%;
  }

  .linkI {
      color: white;
      text-decoration: none;
  }

  .linkI:hover {
      background-color: #b4b4b4;
      /* Altere a cor de fundo desejada */
      transform: scale(1.05);
      /* Aumenta o tamanho do botão ao passar o mouse */
  }

  /* Efeito de clique (ativo) */
  .linkI:active {
      background-color: #999999;
      /* Altere a cor de fundo desejada quando clicado */
  }

  .copy {
      margin-top: 1%;
      color: white;
  }
}